# 向量数据库缓存
data/
*.sqlite3
*.sqlite3-journal
summary_cache.json

# Faiss索引文件
data/faiss_index/
*.faiss
*.pkl

# 环境、虚拟环境
.env
env.example
venv/
.venv/

# Python缓存
__pycache__/
*.pyc
*.log

# 忽略微调训练产出的模型
**/output/
**/checkpoints/

# 忽略原始预训练模型的缓存（如果你不小心把下载的原始模型放在了项目里）
/models/
*.safetensors
*.bin

# Mac系统垃圾文件
.DS_Store
__MACOSX/

# 日志文件
logs/*.log
logs/*.log.*

# 前端临时备份图片
*image copy.png

# 如果你暂时不上传docker部署文件，加这两行
L3-File/10-Copilot/copilot-fronted/Dockerfile
L3-File/10-Copilot/copilot-fronted/docker-compose-standalone.yml